.search-icon::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: linear-gradient(white, #a2630b,white);
    right: 6px;
    top: 0;
}
.activeChannelLeft{
    border: 2px solid #a2630b;
    border-radius: 10px 0 0 10px;
    background: #fcecd5;
    font-weight: 500;
}
.activeChannelRight{
    border: 2px solid #a2630b;
    border-radius: 0 10px 10px 0;
    background: #fcecd5;
    font-weight: 500;
}